<div class='id modal-content'
         id="event-edit" 
         th:attr="data-id=${ event.id },
            data-name='event', 
            data-recurrenceid=${ event.recurrenceid }">
    <div id="modal-event">
        <div class="upper-div-collection">
            <div id="summary-div">
                <label>Summary</label>
                <div th:name="summary" contenteditable class="this focusable" style="font-size: 1.75rem;" th:text="${event.summary}"></div>
            </div>
            <div id="amount-div">
                <label>Amount</label>
                <input class="this focusable" type="number" id="event-amount" th:name="amount" th:value="${event.amount}" />
            </div>
        </div>
        <div id="time-container">
            <div id="frequency-container">
                <label>Frequency</label>
                <div class="td select-container focusable">
                    <input th:name="frequency"
                            th:value="${event.frequency}"
                            class="select focusable"
                            type="text"
                            placeholder="frequency"
                            th:attr="data-options=${FREQUENCIES},
                                    data-weekly-graphic-text='MTWThFSaS',
                                    data-biweekly-graphic-text='2 MTWThFSaS',
                                    data-monthly-graphic-text='Jan-Dec',
                                    data-yearly-graphic-text='1988 - 2048'">
                </div>
                <div class="recurrenceid focusable" style="width: 80%; text-align: justify; font-family: Charter; font-size: 0.666rem;" th:text="${event.recurrenceid}"></div>
            </div>
            <div id="date-container">
                <div>
                    <label style="color: #053147">Date</label>
                    <input th:name="date" class="td focusable" type="date" th:value="${event.date != null ? event.date : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                </div>
                <div>
                    <label>End Date</label>
                    <input th:name="recurrenceenddate" class="td focusable" type="date" th:value="${event.date != null ? event.date : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                </div>
            </div>
        </div>
    </div>
    <div class="button-footer">
        <button id="save-this-event" class="focusable">save</button>
        <button id="save-this-and-future-events" class="focusable">save all</button>
        <button id="clude-this-event" class="focusable" th:text="${event.exclude == false ? 'exclude' : 'include'}"></button>
        <button id="clude-all-these-events" class="focusable" th:text="${event.exclude == false ? 'exclude all' : 'include all'}"></button>
        <button id="delete-this-event" class="focusable">delete</button>
        <button id="delete-all-these-events" class="focusable">delete all</button>
    </div>

</div>