<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/moment.min.js"></script>
</head>
<body>
    <button id="expand-to-budget">☰</button>
    <div id="left-panel">
        <header id="left" style="background:url(/wallpaper01.webp)">
            <div>
                <button id="logout">logout</button>
                <p th:text="${info.user.id}"></p>
            </div>
            <h3>
                <div>Regular Expenses</div>
            </h3>
            <div class="table" id="expenses">
                <div class="tr">
                    <div class="th">Expense</div>
                    <div class="th">Frequency</div>
                    <div class="th">Amount</div>
                    <div class="th">Start Date</div>
                    <div class="th">End Date</div>
                </div>
            
                <div th:replace="~{expense :: expense}"></div>
            </div>
            <div class="tr button-row-right">
                <button class="add-expense">+</button>
                <button id="refresh-calendar">↺</button>
            </div>
        </header>
    </div>
    <div id="main" class="authenticated">
        <div id="calendar-month-header" data-year="${ info.year }" data-month="${ info.month }">
            <div>
              <h1 id="month-name" th:text="${ data.months[info.month - 1] }"></h1>&nbsp;&nbsp;
              <h1 id="year-name" style="font-weight:100" th:text="${ info.year }"></h1>
            </div>
            <div id="data" class="search">
                <input style="display:none;" type="test" placeholder="Go for it!" />
            </div>
            <div>
                <button id="prev-month">
                    <span>
                        ∟
                    </span>
                </button>
                <button id="go-to-today">
                    Today
                </button>
                <button id="next-month">
                    <span>
                        ∟
                    </span>
                </button>
            </div>
        </div>
    
        <div id="calendar-week-header">
            <div class="weekend">Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div class="weekend">Sat</div>
        </div>
    
        <div id="calendar" th:replace="~{calendar :: calendar}"></div>
    </div>
    <button id="expand-to-news">N</button>
    <div id="right-panel">
        <footer id="right">
            <did class="loading">loading...</did>
        </footer> 
    </div>
    <script th:src="@{/script.js}"></script>

</body>
</html>